body {
    background-color: black;
    text-align: center;
}

header {
    color: brown;
}

main h2 a {
    text-decoration: none;
}

main h2 a:hover {
    color: brown;
    font-size: 30px;
}

img:hover {
    height: 220px;
    width: 370px;
}

h1 {
    color: brown;
}